<header class="site-head" {% if blog.cover %}style="background-image: url({{ blog.cover }})"{% else %}style="background-image: url(/assets/images/bg.png)"{% endif %}>
    <div class="vertical">
        <div class="site-head-content inner">
            {% if blog.logo %}<a class="blog-logo" href="{{ blog.url }}"><img src="{{ blog.logo }}" alt="Blog Logo" /></a>{% endif %}
            <h1 class="blog-title"><a href="{{ blog.url }}">{{ blog.title }}</a></h1>
            <h2 class="blog-description">{{ blog.description }}</h2>
        </div>
    </div>
</header>