<!DOCTYPE html>
<html>
<head>
    {# Document Settings ##}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {# Responsive Meta Data #}
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 

    {# Page Meta #}
    <title>{% block title %}{{ config.title }} - {{ config.subtitle }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ config.description }}{% endblock %}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/favicon.ico">

    {# Styles'n'Scripts #}
    <link rel="stylesheet" type="text/css" href="/css/screen.css" />
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
    
</head>
<body class="{{ body_class }}">

    {% include "partials/header.html" %}
    

    {% block content %}
    {% endblock %}

    {% include "partials/footer.html" %}


    {# Google Analytics #}
    <script type="text/javascript">
        {> config}
      
        (function(g,h,o,s,t,z){g.GoogleAnalyticsObject=s;g[s]||(g[s]=
        function(){(g[s].q=g[s].q||[]).push(arguments)});g[s].s=+new Date;
        t=h.createElement(o);z=h.getElementsByTagName(o)[0];
        t.src='//www.google-analytics.com/analytics.js';
        z.parentNode.insertBefore(t,z)}(window,document,'script','ga'));
        ga('create',ga_ua);ga('send','pageview');
    </script>

    {# The main JavaScript file for Casper #}
    <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
    <script type="text/javascript" src="/js/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="/js/index.js"></script>

</body>
</html>
