{% extends "default.html" %}

{% block content %}
{# The main content area on the homepage #}
<main class="content" role="main">

    {# Each post will be output using this markup #}
    {% for post in posts %}

    <article class="post">
        <header class="post-header">
            <span class="post-meta"><time datetime="{{ post.date }}">{{ post.date }}</time></span>
            <h2 class="post-title"><a href="{{ post.link }}">{{ post.title }}</a></h2>
        </header>
        <section class="post-excerpt">
            <p>{{ post.content }}&hellip;</p>
        </section>
    </article>

    {% endfor %}

</main>

{% endblock %}
<!--



<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    {% include "partials/navigation.html" %}
    <header>
        <section>
            <h1>
                {{ config.title }}
            </h1>
        </section>
    </header>

    <section id="posts" class="posts">
        <ul>
            {% for post in posts %}
            <li>
                <span>
                    {{ post.date }}
                </span>
                <article>
                    <a href="/{{ post.link }}">
                        {{ post.title }}
                    </a>
                    <section>
                        {{ post.content }}
                    </section>
                </article>
            </li>
            {% endfor %}
        </ul>
    </section>

{% include "partials/footer.html" %}

</body>
</html>-->